{% extends 'base.html' %}

{% load static %}

{% block body %}
    <div class="product-edit-div">
        <form class='form-unimar' action="{% url 'adicionar_produto' request.user.username %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}

            <div class='form-field'>
                <p>Nome</p>
                <input class="form-input" type="text" name='nome' required>
            </div>

            <div class='form-field'>
                <p>Descrição</p>
                <textarea class="form-input-bios" type="text" name='descricao' required></textarea>
            </div>

            <div class='form-field'>
                <p>Preço</p>
                <input class="form-input" type="number" name='preco' step="0.01" min="0" max="9999.99" required>
            </div>

            <div class='form-field'>
                <p>Quantidade Estoque</p>
                <input class="form-input" type="number" name='quantidade_estoque' step="1" min="0" required>
            </div>

            <div class='form-field'>
                <p>Categoria do Produto</p>
                <select class="form-input-category" name="subcategoria" required>
                    <option value="" disabled selected>-- Selecione uma categoria --</option>

                    {% for categoria in categorias %}
                        <optgroup label="{{ categoria.nome }}">

                            {% for subcategoria in categoria.subcategorias.all %}
                                <option value="{{ subcategoria.id }}">{{ subcategoria.nome }}</option>
                            {% endfor %}

                        </optgroup>
                    {% endfor %}
                </select>
            </div>


            <div class='form-field'>
                <p>Imagem Produto</p>
                <label for="id_image" class="custom-file-upload">
                    Escolher imagem
                </label>
                <input type="file" name="imagem" id="id_image" hidden required>
            </div>

            <div class='form-field'>
                <input class="form-button" type="submit" value="Adicionar">
            </div>

        </form>

    </div>
{% endblock body %}